<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta chharset = "UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name=""viewport content="width=device-width, internal-scale=1.0">
        <title>home page</title>
    </head>
    <body>
        <div class ="container" style="text-align:center"
        {% include 'navbar.html' %}
        <h1>kjxssjggkdgkdgje</h1>
        <p>
            Children, teenagers, and adults as well, 
            can all identify with the message of this
            poem for children from Shel Silverstein 
            published in his book, "Every Thing On It.
            Sometimes we all feel like no one really
            truly knows us, as if we are wearing a mask
            and our true self is hidden from all underneath 
            our face. 
        </p>
        <button> contact us </button>
        </div>
    </body>
</html>    